[Desktop Entry]
Name=SciPyNotebook
Comment=Notebook style editor for SciPy/Numpy
Exec=/usr/local/bin/scipynotebook
Icon=/usr/local/share/SciPyNotebook/logo.png
Type=Application
Terminal=false
Categories=Developement;
Encoding=UTF-8
