[Desktop Entry]
Name=SciPyNotebook
GenericName=Editor
Comment=Notebook style editor for SciPy/Numpy
Exec=scipynotebook
Icon=scipynotebook
Type=Application
Categories=Qt;Development;IDE;
Terminal=false
Encoding=UTF-8
